.flex {
	display: flex;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-start {
	display: flex;
	justify-content: start;
	align-items: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Flex col

.col-1-2 {
	flex: 0 1 48%;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.col-1-4 {
	flex: 1 1 23%;
}

@media screen and (max-width: 1024px) {
	.flex-col {
		flex-direction: column;
	}
	.col-1-2 {
		flex-basis: 100%;
	}
}
